.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 906px;
  margin: 0 auto; 
  padding: 20px; 
  color: #000;
  font-family: 'Inter', sans-serif;
}

.title {
  color: rgba(0, 128, 0, 0.8);
  font-size: 24px; 
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.warning {
  text-align: center;
  font-size: 15px; 
  color: #b1252a; 
  margin: 20px 0;
  padding: 0 15px; 
}

.featureSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px; 
  padding: 0 20px; 
}

.featureTitle {
  font-size: 24px; 
  color: rgba(0, 128, 0, 0.8); 
  text-align: center;
  margin-bottom: 15px;
}

.featureList {
  list-style-type: disc; 
  padding-left: 20px; 
  text-align: left; 
  margin: 0; 
  color: #333; 
  font-size: 15px; 
}
.cancellationSection {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 40px; 
}

.cancellationTitle {
  color: rgba(0, 128, 0, 0.8);
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-top: 20px;
}

.thankYouMessage,
.cancellationInstructions,
.farewell {
  text-align: center;
  margin: 15px 0; 
  font-size: 15px; 
}

.buttonContainer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 30px; 
}
.button {
  border-radius: 10px;
  background-color: #66b574; 
  min-height: 40px; 
  width: 200px;
  max-width: 400px; 
  color: #fff; 
  text-align: center;
  padding: 5px; 
  border: 2px solid #55a063; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 15px; 
  font-size: 15px; 
}
.backButton {
  border-radius: 10px; 
  background-color: #66b574; 
  min-height: 40px; 
  width: 200px; 
  max-width: 400px; 
  color: #fff;
  text-align: center;
  padding: 5px; 
  border: 2px solid #55a063; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 15px; 
  font-size: 15px; 
}
.cancelButton {
  border-radius: 10px;
  background-color: #b1252a;
  min-height: 40px;
  width: 200px;
  max-width: 400px;
  color: #fff;
  text-align: center;
  padding: 5px;
  border: 2px solid #9f1d2b;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 15px;
  font-size: 15px;
}
.backButton:hover,
.cancelButton:hover {
  transform: translateY(-2px); 
}

.backButton:hover {
  background-color: #57a057; 
}

.cancelButton:hover {
  background-color: #a1191f;
}

@media (max-width: 768px) {
  .warning,
  .featureTitle,
  .cancellationTitle,
  .thankYouMessage,
  .cancellationInstructions,
  .farewell {
    font-size: 15px; 
    padding: 0 10px; 
  }

  .button {
    width: 90%; 
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px; 
  }

  .button {
    width: 90%; 
  }
}
