.googleLoginBtn {
  background: linear-gradient(90deg, rgb(226, 156, 70) 0%, #ff5858 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%; 
  max-width: 619px;
  text-align: center;
  font: 700 14px/1 Inter, sans-serif;
  border: 1px solid rgba(177, 37, 42, 1);
  margin: 0 auto 30px auto;
}

@media (max-width: 991px) {
  .googleLoginBtn {
    padding: 20px;
  }
}
