.mainContent {
    margin-top: 24px;
    width: 100%;
    max-width: 1102px;
}
.columns {
    display: flex;
    gap: 20px;
  }
  .infoColumn {
    width: 38%;
  }
  .description {
    color: rgba(0, 0, 0, 1);
    font: 400 16px MS PGothic, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .textcolumnseperation {
    width: 24%;
  }
  .blueDescription {
    color: rgba(0, 72, 255, 1);
    font: 400 16px MS PGothic, -apple-system, Roboto, Helvetica, sans-serif;
  }
  

@media (max-width: 991px) {
    .mainContent {
      max-width: 100%;
    }
    .columns {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }
      .infoColumn, .textcolumnseperation {
        width: 100%;
      }
  }