.loginForm {
  border-radius: 8px;
  width: 100%; 
  max-width: 619px;
  color: #fff;
  text-align: center;
  padding: 25px 70px; 
  font: 700 14px/1 Inter, sans-serif;
  font-size: 16px; 
  border: 1px solid rgba(177, 37, 42, 1);
  margin: 0 auto 30px auto; 
  display: block;
  cursor: pointer;
}

@media (max-width: 991px) {
  .loginForm,.googleLogin {
      padding: 20px;
  }
}
.centerContainer {
  display: flex;           
  justify-content: center;
  align-items: center;     
  width: 100%;            
  background-color: #f8f9fa;
}

.googleButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;     
  border: none;      
  background: none;   
  cursor: pointer;    
}

.googleLogin {
  width: 100%;      
  height: auto;      
  max-height: 50px; 
  display: block;   
}


.hiddenInput {
  display: none;
}

.logoutForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
  margin-bottom: 11px;
}
.logoutButton {
  background-color: #ff4d4f; 
  color: #ffffff;
  font-size: 16px; 
  font-weight: bold;
  padding: 12px 24px; 
  border: 2px solid #ffffff; 
  border-radius: 10px; 
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transition: all 0.3s ease-in-out;
}

.logoutButton:hover {
  background-color: #e04142;
  color: #ffffff;
  transform: scale(1.1); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}

@media (max-width: 1024px) {  
  .logoutButton,.googleLogin {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {  
  .logoutButton,.googleLogin {
    font-size: 14px;
    padding: 10px 20px;
  }
}
