.button {
    border-radius: 8px;
    background-color: rgba(92, 76, 76, 0.57);
    width: 100%; 
    max-width: 619px;
    color: #fff;
    text-align: center;
    padding: 15px 20px; 
    font: 700 14px/1 Inter, sans-serif;
    border: 1px solid #b1252a;
    margin: 0 auto 20px auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  
  .deviceInfo {
    display: flex;
    gap: 10px; 
    align-items: center; 
    white-space: nowrap;
  }
  
  .deviceLabel {
    font: 11px Abel, sans-serif;
    margin: 0; 
  }
  
  .deviceCount {
    display: flex;
    gap: 3px;
    align-items: center; 
  }
  
  .countNumber {
    font: 28px Abel, sans-serif;
  }
  
  .countUnit {
    font: 11px Abel, sans-serif;
  }
  
  .subscriptionInfo {
    margin-top: 0; 
    font: 11px Abel, sans-serif;
    white-space: nowrap; 
  }