.header {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  position: relative;
  min-height: 451px;
  width: 100%;
  align-items: start;
  padding: 48px 44px 349px;
}
.backgroundImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.logo {
  aspect-ratio: 9.01;
  object-fit: contain;
  object-position: center;
  width: 488px;
  margin-bottom: -70px;
  max-width: 100%;
  position: relative;
}
@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px 100px;
  }
  .logo {
    margin-bottom: 10px;
  }

}